<h1>
  NoMoveClick Directive Demo
</h1>
<div
  noMoveClick
  (mouseMovedDistance)="onMouseMoved($event)"
  class="container"
>
  <app-click-notifier
    #clickCmp
    class="box"
    text="Click Directive"
    (click)="clickCmp.increment()"
  ></app-click-notifier>
  <app-click-notifier
    #noMoveClickCmp
    class="box"
    text="NoMoveClick Directive"
    (noMoveClick)="noMoveClickCmp.increment()"
    [moveThreshold]="moveThreshold"
  ></app-click-notifier>
</div>
<div class="threshold">
  <label
    for="threshold-input"
  >
    change move threshold:&nbsp;
  </label>
  <input
    id="threshold-input"
    type="number"
    [formControl]="moveThresholdControl"
  >
</div>
<div>
  Mouse was moved <strong>{{movedDistance}} pixels</strong> while pressed.
</div>
<div class="push"></div>
<div class="footer">
  FOOTER
</div>
